body{
    padding: 0;
    margin: 0;
    background-color: #26262d;
    color: rgba(255, 255, 255, 0.55);
    font-family: 'Roboto', sans-serif;
}
.content{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    height: 60%;
    width:100%;
    justify-content: center;
}
.header{
    background-color: #31313a;
    height: 300px;
    text-transform: uppercase;
    box-sizing: border-box;
    width:70px;
    margin-right: 10px;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.header__navigation{
    height: 100%;
}
.header__list{
    margin:0;
    padding:10px 0;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.header__listIcon{
    margin-bottom: 5px;
}
.header__listItem{
    font-size: 13px;
    display: flex;
    color: rgba(255, 255, 255, 0.85);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    position:relative;
}
.header__listItem::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at center, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}
.header__listItem:hover,
.header__listItem.active,
.header__listItem:focus{
    color: #78cc6d;
}
/*#78cc6d*/
.main{
    min-width: 500px;
    background-color: #31313a;
    margin-top: -20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:10px;

}
.main__infoTitle{
    color: rgba(255, 255, 255, 0.85);
    font-size: 34px;
    margin-bottom: 0;
}
.main__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__infoList{
    width: 50%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;
    padding:0;

}
.main__infoListItem{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);

}
.main__infoSubtitle{
    color: #78cc6d;
    font-size: 16px;
    line-height: 20px;

}
.info{
background:#31313a;
padding: 10px 20px;
    width: 550px;
    height: 530px;
}

.about__info{
    display: flex;
    position: relative;
}
.about__info::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at center, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}
.about__infoList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
}
.about__infoData:before{
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}
.about__infoListItem{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
    position: relative;
}
.about__infoListItem::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at center, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}
.about__infoData{
min-width: 50%;

}
.about__infoListItem-personalData{
    background-color: #78cc6d;
    padding: 5px 10px;
    border-radius: 3px;
}



.main__image{
    background-position: top center;
    height: 120px;
    width: 120px;
    margin-bottom: 0;
    z-index: 2;
    margin-top: -60px;
}
.main__polygon{
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    width: 50%;
    height: 40px;
    background-color: #31313a;

}
.main__polygon_an{
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    width: 50%;
    height: 45px;
    background-color: #31313a;

}
.main__image > img {
    object-fit:cover;
    object-position: top center;
    height: 100%;
    width: 100%;
    margin:0 auto;
    border-radius: 50%;

}
.main__bg{
    background-image: url('https://images.unsplash.com/photo-1599470542516-b34994b6f35d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-radius:10px;
   padding-top: 0;
    height:50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;

}
.main__info{
    height: 40%;


}
